.root {
    -fx-background-color: #f7f3ee; /* crem deschis */
    -fx-font-family: "Segoe UI";
}

/* HEADER */
.header {
    -fx-padding: 30;
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent #e5e0da transparent;
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #6b4f4f; /* maro elegant */
}

/* GRID */
.main-grid {
    -fx-padding: 40;
}

/* CARD */
.card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-alignment: TOP_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 20, 0.2, 0, 5);
}

/* TITLU CARD */
.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #7c5e57;
}

/* BUTOANE */
.button {
    -fx-background-color: #e8dcd2; /* bej */
    -fx-text-fill: #5c4033;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 12 20 12 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #d8c8bb;
}